

html{
    background: #ffffff;
    font-size: 10px;
    font-family: "Helvetica Neue","Arial","Hiragino Kaku Gothic ProN","Hiragino Sans","Meiryo",sans-serif;
    letter-spacing: 0.1rem;
    color: #000000;
}

a {
    color: #000000;
    text-decoration: none;
}

body{
    padding-top: 10%;
    margin-left: auto;
    margin-right: auto;
    max-width: 980px;
    position: relative;
    display: flex;
    flex-flow: column;
    min-height: 100svh;
}


main{
    flex: 1;
}

h1{
    font-size: 12px;
}

.sub-title{
    display: block;
    margin-top: 8px;
    color: #000000;
    opacity: 50%;
}


.Profile{
    text-align: left;
    margin-bottom: 64px;
}

.title{
    margin-top: 24px;
    color: #000000;
}



.Profile img{
    width: 80px;
    height: 80px;
    border-radius:50%;
}

.container{
    padding: 0;
}

.links{
    animation-name:fadeInAnime;
    animation-duration:1s;
    animation-fill-mode:forwards;
    opacity:0;
    animation-delay: 1s;
    }
    
    @keyframes fadeInAnime{
      from {
        opacity: 0;
      }
    
      to {
        opacity: 1;
      }
    }

.item-link{
    text-align: left;
    margin-bottom: 40px;
    margin-right: auto;
    margin-left: auto;
}

.item-link a{
    font-size: 12px;
}


.item-link :hover{
    opacity: 0.5;
}



/*

footer

*/


/* footer{
    padding: 0 24px;
    width: 100%;
} */
/* 
.copyright{
    border-top: 1px solid #616161;
    padding: 24px 0;
    margin-top: 64px;
} */