

a {
    color: #212121;
    text-decoration: none;
}

body{
    margin-top: 8%;
}


.Profile{
    text-align: center;
    margin-bottom: 48px;
}

.Profile img{
    width: 120px;
    height:120px;
    border-radius:50%;
}

.item-link{
    background: #ffffff;
    padding: 24px;
    text-align: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    width: 240px;
    margin-bottom: 16px;
    margin-right: auto;
    margin-left: auto;
}

.item-link :hover{
    opacity: 0.2;
}

