

html{
    background: #212121;
    font-size: 10px;
    font-family: "Helvetica Neue",Arial,"Hiragino Kaku Gothic ProN","Hiragino Sans","Meiryo",sans-serif;
    letter-spacing: 0.2rem;
    color: #f5f5f1;
}

a {
    color: #f5f5f1;
    text-decoration: none;
}

body{
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    max-width: 980px;
    padding: 0 20px;
    position: relative;
}


h1{
    font-size: 16px;
}


.Profile{
    text-align: left;
    margin-bottom: 64px;
}

.title{
    margin-top: 24px;
    color: #f5f5f1;
}



.Profile img{
    width: 80px;
    height: 80px;
    border-radius:50%;
}

.item-link{
    text-align: left;
    margin-bottom: 40px;
    margin-right: auto;
    margin-left: auto;
}

.item-link a{
    font-size: 14px;
}


.item-link :hover{
    opacity: 0.6;
}



/* footer */

footer{
    position: absolute;
    bottom: 0; 
    width: 100%;
}

.copyright{
    border-top: 1px solid #616161;
    padding: 24px 0;
    margin-top: 64px;
}